.day {
    background-color: var(--day-background-color);
    border: 1px solid var(--color-gray-1);
    text-align: center;
    padding: 10px 0;
    font-weight: 500;
    cursor: pointer;
    font-size: 16px;
    color: var(--main-color);
}

.day:hover {
    filter: brightness(90%);
}

.day.otherMonth {
    background-color: transparent;
    cursor: default;
}

.day.otherMonth:hover {
    filter: brightness(100%);
}

.day.current {
    background-color: var(--secondary-color);
}