.calendarControlPanel {
    display: flex;
    max-width: 800px;
    margin: 0 auto 20px;
    align-items: center;
    justify-content: space-between;
}

.arrowLeft, .arrowRight {
    color: var(--secondary-color);
}

.arrowLeft span, .arrowRight span {
    line-height: 1;
    border: 1px solid var(--color-gray-1);
    padding: 0 5px;
    cursor: pointer;
}